.cardContainer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.canvas {
    margin: 30px 0;
    padding: 50px;
}

.card {
    width: 18rem;
}

@media screen and (max-width: 1125px) {
    .card {
        width: 11rem;
    }
}
